@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <form>
        <h1 class="display-3">Welcome to Team Local</h1>
        <div class="form-box">
            <input type="text" class="search-field"
                   placeholder="What are you looking for?">
            <button type="button" class="btn btn-info">Search</button>
        </div>
    </form>
</div>
<div class="container pad">
    <div class="row">
        <div class="col-lg-12">
            <h1>Categories</h1>
        </div>
    </div>

    <div class="row pad-top">

        <div class="col-lg-3  col-sm-6 img-thumbnail">
            <img src="~/images/carservices.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/CarServices" class="nav-link">Car Services</a></h3>
        </div>
        <div class="col-lg-3  col-sm-6 img-thumbnail">
            <img src="~/images/cleaning.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Cleaning" class="nav-link">Cleaning</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/clothing.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Clothing" class="nav-link">Clothing</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/food.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Food" class="nav-link">Food</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/wellness.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Health" class="nav-link">Health & Wellness</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/home.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/HomeImprovement" class="nav-link">Home Improvement</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/technology.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Technology" class="nav-link">Technology</a></h3>
        </div>
        <div class="col-lg-3 col-sm-6 img-thumbnail">
            <img src="~/images/others.jpg" class="img-thumbnail img-fluid">
            <h3><a href="~/Business/Other" class="nav-link">Others</a></h3>
        </div>
        <div>
            <button type="button" onclick="location.href='@Url.Action("Index", "Business")'" class="btn btn-primary" >View All</button>
        </div>

    </div>
</div>



